<div class="aboutBody">
<p>This a portfolio project still in development</p>
	<p> MochiJump is a personal project designed by Andrew Lenoir.</p>
	<p> It is broken into two parts </p>
	<p></p>
	<p> The game, MochiJump is a stand alone Desktop App that functions as a 2D 8 bit style platformer game. It is written in Java</p>
	<p> The web app, MochiJumpLevelEditor is the project that power's this website. Proceeding to "lvl edit" will allow you to retrieve levels or paint your own</p> 
	<p>The backend is written in Java and uses the Spring Framework along with a MySQL server. <p>
	<p>It broken into microservices making use of both Google Cloud's Compute Engine as well as AWS</p>
	<p style= "padding-left: 30pt">	Check out the Desktop App source code
		<a href="https://github.com/AndoryuRenoa/MochiJump">here</a>
		</p>
	<p style= "padding-left: 30pt">Direct link to Download MochiJump Desktop App 
		<a href ="https://github.com/AndoryuRenoa/MochiJump/blob/master/dist/MochiJump.jar?raw=true">here</a>
		</p>
	<p style= "padding-left: 30pt">	Check out the Web App source code
		<a href="https://github.com/AndoryuRenoa/MochiJumpLevelEditor">here</a>
		</p>

<a [routerLink]="['/']">
<button> Go Back </button>
</a>
</div>