.loginBody{
  position: relative;
 background-color :darkslategray;
 overflow: hidden;
 
}
.loginWrapper{
  margin-right: auto;
  float: right;
  max-width: 100%;
}

.loginForm{
 margin:0px;
 color:white;
 text-align: right;
 display: inline-flex;
 
}

@media screen and (max-width: 600px) {
  .loginWrapper {
    margin: auto;
  }
  .loginForm{
    font-size:x-small;
    margin: 0px;
  }
  input[type=text], input[type="password"]{
    white-space: nowrap;
    overflow: hidden;
    width: 12%;
  }
  .signUpButton{
    white-space: nowrap;
    font-size: x-small;
  }
  .loginButton{
    font-size: x-small;
  }

}

.loginButton{
 padding: 5px;
}
.signUpButton{
 padding: 5px;
}
