
<div class ="container1">
		<div class="selector1" id="selector1">
			<img class= "selectorimg1" id="selectorimg1" src ="https://github.com/AndoryuRenoa/MochiJumpWeb-Backend/blob/master/MochiJumpLevelEditor2/src/main/resources/static/images/bone1M.png?raw=true" style ="visibility: hidden">
		</div>
		<div class="option1" id="option1">
			<a [routerLink]="['']">
			<img  src = "https://github.com/AndoryuRenoa/MochiJumpWeb-Backend/blob/master/MochiJumpLevelEditor2/src/main/resources/static/images/lvledit.png?raw=true" style="float: right;">
			</a>
		</div>
		<div class = "right1"> 
    </div>