  <div class ="container1" >
    <div class="selector1" id="selector1">
      <div class= "selectorimg1" id="selectorimg1" > </div>
    </div>
    <div class="option1" id="option1">
      <a [routerLink]="['/contact']">
      <img *ngIf="!hd;" src = "assets/images/contact.png" style="float: right;">
      <div *ngIf="hd;" style="float: right;
          background-color: rgb(49, 54, 49);
          border: none;
          color: white;
          padding: 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 40x;
          margin: 4px 2px;
          cursor: pointer;">Contact
          </div>
      </a>
    </div>
    <div class = "right1"> 
    </div>
  </div>