
<div class ="container1" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [@startAnimation] ="state" (@startAnimation.done)="onEnd($event)">
		<div class="selector1" id="selector1"> 
			<img class= "selectorimg1" id="selectorimg1" [src] = "selectorSRC" [ngStyle]="visibility">
		</div>
		<div class="option1" id="option1">
			<a [routerLink]="['/about']">
			<img  src = "https://github.com/AndoryuRenoa/MochiJumpWeb-Backend/blob/master/MochiJumpLevelEditor2/src/main/resources/static/images/about.png?raw=true" style="float: right;">
			</a>
		</div>
		<div class = "right1"> 
    </div>