<div class="aboutStyle" id="intro">
  <h2> Technical Skill Set</h2>
  <p>Programming Languages: Java, Typescript, Javascript</p>
  <p>Frameworks: Spring, Angular2+ (6)</p>
  <p>Tools: STS (eclipse), Visual Studios, Hibernate Tools, Angular CLI, Gradle, Maven, Git </p>
  <p>OS: Local: Windows Linux</p>
  <p>Cloud Computing: Google Cloud, AWS</p>
  <p>Databases: SQL</p>
  <p>Notes: I enjoy challenges and problem solving. I have no issue creating solutions on my own.</p>
  <p></p>
  <p>For more information about this particular web app please feel free to view the 
    <a [routerLink]="['/about']">about</a> page for more 
    information</p>
    <p></p>
  <a [routerLink]="['/']">
    <button> Go Back to Main Menu </button>
  </a>
  </div>